body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-image: url("/src/assets/icons/backgroundClouds.jpg"); */
  /* display: flex;
  flex-direction: column; */
}

div{
  /* border: 1pt solid red; */
}

.formButton{
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .formButton:focus {
    color: #171e29;
  }
  
  .formButton:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  .formButton:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
  @media (min-width: 768px) {
    .formButton {
      min-width: 170px;
    }
  }





#weatherContainer{
  grid-area: 1/1/2/2;
  background: #292a25;
  /* margin: 3em auto 2em; */
  display: grid;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
  color:#f00bdd

}
#grid1{
  grid-area: 1 / 1 / 2 / 3;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
#location{

}
#currentTemp{
  font-size: 5em;
  line-height: 1em;

}
#hiLo{

}


#grid2{
  grid-area: 2 / 2 / 3 / 2;
  padding: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 1em;

}
#currentDate{

}
#weatherIcon{
  width: auto;
  height: 128px;
  align-self: center;
  max-height: 125px;
  border-radius: 8px;

}
#weatherDescription{
  text-align: center;

}
#grid4{
  grid-area: 2 / 1 / 3 / 2;

}
#grid5{
  grid-area: 2 / 2 / 3 / 3;

}
#hourlyExpand{
  grid-area: 1 / 3 / 4 / 4;

}

#dayExpand{
  grid-area: 3 / 1 / 4 / 4;

}














/* Window Style Info */

#windowContainer{

  margin: -8px;
  /* background: #292a25; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;

}
#windowFrameDiv{
  grid-area: 1 / 2 / 3 / 3;
  min-width: 600px;
  /* max-width: 600px; */
  background: #292a25;
  position: relative;
  z-index: -2;
  overflow: hidden;


}
#windowFrameImg{
  border: 5px #f00bdd solid;
  height: 750px;
  position: absolute;
  min-width: 600px;
  top: 10%
}

#outsideWindow{
  position: relative;
  z-index: -1;
  top: 215px;
  left: 0px;
  min-width:400px;
  max-height: 420px;

}

#windowForm{
  grid-area: 2/1/3/2;
  background: #292a25;
  /* border-right: 5px pink solid; */
  margin: 0px;
  
  
  
}

#form{
  
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}
#cityInput{
  margin: auto;
  width: 350px;
  font-size: 2em;
}

#buttonContainer{
  display: flex;
  column-gap: 5px;
  margin: auto;
  width: 350px;
}

#formErrorMsg{
  min-width : 143px;
  margin: auto;
  color:black;

}


.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}


.neonBox {
  color: #fff;
  box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.blur{
  transition: all 3sec;
  filter: blur(8px);
}
.noBlur{
  transition: all 3sec;
  filter: blur(0px)
}